<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yc.dao.EmployeeDaoMapper">
	
	<!-- 使用默认mybatis : 二级缓存 -->
	<!-- <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true" /> -->
	
	<sql id="conditionSql">
		<where>
			<if test="department_name !=null and department_name!=''">
				department_name=#{department_name}
			</if>
			
			<if test="human_major_kind_name !=null and human_major_kind_name!=''">
				and human_major_kind_name=#{human_major_kind_name}
			</if>
			
			<if test="human_major_name !=null and human_major_name!=''">
				and human_major_name=#{human_major_name}
			</if>
			
			<if test="regist_time !=null and regist_time!=''">
				and regist_time = #{regist_time}
			</if>
			
			<if test="human_id !=null and human_id!=''">
				and human_id = #{human_id}
			</if>
			
			<!-- 档案状态 用于选择性查询 -->
			<if test="human_file_status !=null and human_file_status!=''">
				and human_file_status = #{human_file_status}
			</if>
		</where>
	</sql>
	
	<sql id="orderSql">
		<if test="orderby!=null and orderby!=''">
			order by #{orderby}
			<if test="orderway!=null and orderway!=''">
				#{orderway}
			</if>
		</if>
		
	</sql>
	
	<!-- 分页条件的拼接 -->
	<sql id="pageSql">
		<if test="start!=null">
			limit #{start},#{pageSize}
		</if>
	</sql>
	
	<!-- 根据条件查询 -->
	<select id="findEmployee" resultType="Employee" parameterType="Map">
		select * from human_file <include refid="conditionSql"/><include refid="orderSql"/><include refid="pageSql"/>
	</select>
	
	<!-- 根据条件查询状态为"正常"的人员信息 -->
	<select id="findStatusEmployee" resultType="Employee" parameterType="Map">
		select huf_id,human_id,department_name,human_name,human_major_kind_name,human_major_name from human_file  where human_file_status = '正常'
		
			<if test="department_name !=null and department_name!=''">
				and department_name=#{department_name}
			</if>
			
			<if test="regist_time !=null and regist_time!=''">
				and regist_time = #{regist_time}
			</if>
		
	</select>
	
	
	<insert id="addEmployee" parameterType="Employee" keyProperty="huf_id" useGeneratedKeys="true">
		insert into human_file(human_id,department_name,human_name,human_address,human_postcode,human_major_kind_name,human_major_name,human_mobilephone,
		human_bank,human_account,human_qq,human_email,human_hobby,human_speciality,human_sex,human_party,human_nationality,human_race,human_birthday,human_birthplace,
		human_age,human_educated_degree,human_educated_years,human_educated_major,human_id_card,remark,salary_standard_name,salary_sum,demand_salaray_sum,paid_salary_sum,
		major_change_amount,file_chang_amount,human_histroy_id,human_family_membership,human_picture,check_status,register,checker,changer,regist_time,check_time,change_time,
		lastly_change_time,delete_time,recovery_time,human_file_status) values(#{human_id},#{department_name},#{human_name},#{human_address},#{human_postcode},#{human_major_kind_name},
		#{human_major_name},#{human_mobilephone},#{human_bank},#{human_account},#{human_qq},#{human_email},#{human_hobby},#{human_speciality},#{human_sex},#{human_party},#{human_nationality},
		#{human_race},#{human_birthday},#{human_birthplace},#{human_age},#{human_educated_degree},#{human_educated_years},#{human_educated_major},#{human_id_card},#{remark},#{salary_standard_name},#{salary_sum},
		#{demand_salaray_sum},#{paid_salary_sum},#{major_change_amount},#{file_chang_amount},#{human_histroy_id},#{human_family_membership},#{human_picture},#{check_status},#{register},#{checker},#{changer},
		#{regist_time},#{check_time},#{change_time},#{lastly_change_time},#{delete_time},#{recovery_time},'待审核')
	</insert>
	
	
	
	<update id="updateEmployee" parameterType="Employee">
		update human_file set human_id=#{human_id},department_name=#{department_name},human_name=#{human_name},human_address=#{human_address},human_postcode=#{human_postcode},human_major_kind_name=#{human_major_kind_name},human_major_name=#{human_major_name},human_mobilephone=#{human_mobilephone},human_bank=#{human_bank},human_account=#{human_account},
		human_qq=#{human_qq},human_email=#{human_email},human_hobby=#{human_hobby},human_speciality=#{human_speciality},human_sex=#{human_sex},human_party=#{human_party},human_nationality=#{human_nationality},human_race=#{human_race},human_birthday=#{human_birthday},human_birthplace=#{human_birthplace},
		human_age=#{human_age},human_educated_degree=#{human_educated_degree},human_educated_years=#{human_educated_years},human_educated_major=#{human_educated_major},human_id_card=#{human_id_card},remark=#{remark},salary_standard_name=#{salary_standard_name},salary_sum=#{salary_sum},demand_salaray_sum=#{demand_salaray_sum},paid_salary_sum=#{paid_salary_sum},
		major_change_amount=#{major_change_amount},file_chang_amount=#{file_chang_amount},human_histroy_id=#{human_histroy_id},human_family_membership=#{human_family_membership},human_picture=#{human_picture},check_status=#{check_status},register=#{register},checker=#{checker},changer=#{changer},regist_time=#{regist_time},
		check_time=#{check_time},change_time=#{change_time},lastly_change_time=#{lastly_change_time},delete_time=#{delete_time},recovery_time=#{recovery_time},human_file_status=#{human_file_status} where huf_id=#{huf_id}
	</update>
	
	
	<delete id="delEmployee">
		delete from human_file where huf_id=#{huf_id}
	</delete>
	
	<!-- 备份 用于恢复档案 -->
	<insert id="addModifyEmployee" parameterType="ModifyEmployee" keyProperty="huf_id" useGeneratedKeys="true">
		insert into human_file_dig(human_id,department_name,human_name,human_address,human_postcode,human_major_kind_name,human_major_name,human_mobilephone,
		human_bank,human_account,human_qq,human_email,human_hobby,human_speciality,human_sex,human_party,human_nationality,human_race,human_birthday,human_birthplace,
		human_age,human_educated_degree,human_educated_years,human_educated_major,human_id_card,remark,salary_standard_name,salary_sum,demand_salaray_sum,paid_salary_sum,
		major_change_amount,file_chang_amount,human_histroy_id,human_family_membership,human_picture,check_status,register,checker,changer,regist_time,check_time,change_time,
		lastly_change_time,delete_time,recovery_time,human_file_status) values(#{human_id},#{department_name},#{human_name},#{human_address},#{human_postcode},#{human_major_kind_name},
		#{human_major_name},#{human_mobilephone},#{human_bank},#{human_account},#{human_qq},#{human_email},#{human_hobby},#{human_speciality},#{human_sex},#{human_party},#{human_nationality},
		#{human_race},#{human_birthday},#{human_birthplace},#{human_age},#{human_educated_degree},#{human_educated_years},#{human_educated_major},#{human_id_card},#{remark},#{salary_standard_name},#{salary_sum},
		#{demand_salaray_sum},#{paid_salary_sum},#{major_change_amount},#{file_chang_amount},#{human_histroy_id},#{human_family_membership},#{human_picture},#{check_status},#{register},#{checker},#{changer},
		#{regist_time},#{check_time},#{change_time},#{lastly_change_time},#{delete_time},#{recovery_time},#{human_file_status})
	</insert>
	
</mapper>
