<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.dao.mapper.EngageMajorReleaseDaoMapper">
	<!-- 使用默认mybatis：二级缓存 -->
	<cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true" />	

	<insert id="add" parameterType="EngageMajorRelease" useGeneratedKeys="true" keyProperty="mre_id" >
		insert into engage_major_release(first_kind_id, first_kind_name, second_kind_id, second_kind_name, third_kind_id, third_kind_name, major_kind_id, major_kind_name, major_id, major_name, human_amount, engage_type, deadline, register, changer, regist_time, change_time, major_describe, engage_required) 
		values(#{first_kind_id}, #{first_kind_name}, #{second_kind_id}, #{second_kind_name}, #{third_kind_id}, #{third_kind_name}, #{major_kind_id}, #{major_kind_name}, #{major_id}, #{major_name}, #{human_amount}, #{engage_type}, now(), #{register}, #{changer}, now(), now(), #{major_describe}, #{engage_required})
	</insert>
	
	<update id="update" parameterType="EngageMajorRelease">
		update engage_major_release set engage_type = #{engage_type}, human_amount = #{human_amount}, deadline = #{deadline}, changer = #{changer}, major_describe = #{major_describe}, engage_required = #{engage_required} 
		where mre_id = #{mre_id}
	</update>
	
	<select id="findAll" resultType="EngageMajorRelease">
		select * from engage_major_release
	</select>
	
	<!-- 带查询条件统计查询 -->
	<select id="getCount" resultType="int">
		select count(*) from engage_major_release 
	</select>
	
	<select id="findList" resultType="EngageMajorRelease">
		select * from engage_major_release
		<if test="orderby != null and orderby != ''">
			order by #{orderby}
			<if test="orderway != null and orderway != ''">
				#{orderway}
			</if>
		</if>
		<if test="start != null">
			limit #{start},#{pagesize}
		</if>
	</select>
	
	<delete id="delete">
		delete from engage_major_release where mre_id = #{mre_id}
	</delete>

</mapper>