<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.dao.mapper.EngageAnswerDaoMapper">
	<!-- 使用默认mybatis：二级缓存 -->
	<cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true" />	

	<insert id="add" parameterType="EngageAnswer" useGeneratedKeys="true" keyProperty="ans_id" >
		insert into engage_answer(answer_number, exam_number, resume_id, interview_id, human_name, human_idcard, major_kind_id, major_kind_name, major_id, major_name, test_time, use_time, total_point) 
		values(#{answer_number}, #{exam_number}, #{resume_id}, #{interview_id}, #{human_name}, #{human_idcard}, #{major_kind_id}, #{major_kind_name}, #{major_id}, #{major_name}, now(), #{use_time}, #{total_point})
	</insert>
	
</mapper>