<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.dao.mapper.EngageExamDetailsDaoMapper">
	<!-- 使用默认mybatis：二级缓存 -->
	<cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true" />	

	<insert id="add" parameterType="EngageExamDetails" useGeneratedKeys="true" keyProperty="exd_id" >
		insert into engage_exam_details(exam_number, first_kind_id, first_kind_name, second_kind_id, second_kind_name, question_amount) 
		values(#{exam_number}, #{first_kind_id}, #{first_kind_name}, #{second_kind_id}, #{second_kind_name}, #{question_amount})
	</insert>
	
	<select id="findAll" resultType="EngageExamDetails">
		select * from engage_exam_details 
		<if test="exam_number != null and '' != exam_number">
			where exam_number = #{exam_number}
		</if>
	</select>
	
	<!-- 带查询条件统计查询 -->
	<select id="getCount" resultType="int">
		select count(*) from engage_exam_details 
	</select>
	
	<select id="findList" resultType="EngageExamDetails">
		select * from engage_exam_details 
		<if test="orderby != null and orderby != ''">
			order by #{orderby}
			<if test="orderway != null and orderway != ''">
				#{orderway}
			</if>
		</if>
		<if test="start != null">
			limit #{start},#{pagesize}
		</if>
	</select>

</mapper>