<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yc.dao.PublicCharDaoMapper">
	
	<!-- 使用默认mybatis : 二级缓存 -->
	<cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true" />
	
	
	
	
	<!-- 查询需要的属性-->
	<select id="findChar" resultType="PublicChar" parameterType="String">
		select * from public_char where attribute_kind=#{attribute_kind}
	</select>
	
	<!-- 添加公共属性 -->
	
	<insert id="addChar" parameterType="PublicChar" keyProperty="pbc_id" useGeneratedKeys="true">
		insert into public_char(attribute_kind,attribute_name) values(#{attribute_kind},#{attribute_name})
	</insert>
	
	
</mapper>