<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yc.dao.SalaryGrantDaoMapper">
	
	
	<!-- 根据薪酬标准信息单号查询 -->
	<select id="getAllSalaryGrant" resultType="SalaryGrant" >
		select * from salary_grant  
	</select>
	<!-- 插入数据 -->
	<insert id="addSalaryGrant" parameterType="SalaryGrant">
		insert into salary_grant(
			salary_grant_id,department_name,human_amount,salary_sum,
			salary_paid_sum,register,regist_time,checker ;,check_time,check_status
		)values(
			#{salary_grant_id},#{department_name},#{human_amount},#{salary_sum},
			#{salary_paid_sum},#{register},#{regist_time,#{checker},#{check_time},#{check_status}
		)
	</insert>
	
</mapper>