<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yc.dao.SalaryStandardDaoMapper">


	<!-- 根据薪酬标准信息单号查询 -->
	<select id="getSalaryStandardById" resultType="SalaryStandard"
		parameterType="String">
		select * from salary_standard where standard_id = #{id}
	</select>
	<!-- 多条件查询 -->
	<select id="getSalaryStandardByMap" resultType="SalaryStandard" parameterType="SalaryStandard">
		select * from salary_standard
		<where>
			<if test="standard_name != null">
				and standard_name like #{standard_name}
			</if>
			<if test="startTime !=null and startTime !='' ">
         <![CDATA[ and regist_time  >=  #{startTime}  ]]>
			</if>
			<if test="endTime !=null and endTime!='' ">
         <![CDATA[ and regist_time <=  #{endTime}  ]]>
			</if>
		</where>
	</select>


	<!-- 添加 -->
	<insert id="addSalaryStandard" parameterType="SalaryStandard">
		insert into
		salary_standard
		(standard_id,standard_name,designer,register,checker,changer,
		regist_time,check_time,change_time,salary_sum,check_status,
		change_status,check_comment,remark)
		values
		(#{standard_id},#{standard_name},#{designer},#{register},#{checker},#{changer},
		#{regist_time},#{check_time},#{change_time},#{salary_sum},#{check_status},
		#{change_status},#{check_comment},#{remark})
	</insert>

	<!-- 根据主键修改 -->
	<update id="updateSalaryStandard" parameterType="SalaryStandard">
		update salary_standard
		<set>
			<if test="standard_id != null">standard_id = #{standard_id},</if>
			<if test="standard_name != null"> standard_name = #{standard_name},</if>
			<if test="designer != null"> designer = #{designer},</if>
			<if test="register != null">register = #{register},</if>
			<if test="checker != null">checker = #{checker},</if>
			<if test="changer != null">changer = #{changer},</if>
			<if test="regist_time != null">regist_time = #{regist_time},</if>
			<if test="check_time != null">check_time = #{check_time},</if>
			<if test="change_time != null">change_time = #{change_time},</if>
			<if test="salary_sum != null">salary_sum = #{salary_sum},</if>
			<if test="check_status != null">check_status = #{check_status},</if>
			<if test="change_status != null">change_status = #{change_status},</if>
			<if test="check_comment != null">check_comment = #{check_comment},</if>
			<if test="remark != null">remark = #{remark},</if>
		</set>
		where ssd_id=#{ssd_id};
	</update>
</mapper>
